<div class="merch_header"> Little Esty Shop</div><br>

<p>Discount Number <%= @discount.id %> Information</p>
  <li>Discount Percent: <%= @discount.discount_percent %>%</li>
  <li>Quantity Threshold: <%= @discount.threshold %> items</li>