<body>
 <div class="merch_header"> Little Esty Shop</div><br>
 <div class ="merch_current_button">Merchant Invoices</div>
 <div class ="merch_nav_button"><%= link_to "Merchant Items", "/merchants/#{@merchant.id}/items" %></div>
 <div class ="merch_nav_button"><%= link_to "Merchant Dashboard", "/merchants/#{@merchant.id}/dashboard" %></div>
<h3> <%= @merchant.name %> </h3>
<br><br>

<div class="merch_sub_full_center">
  <h3> My Invoices</h3></div><br>
    <ol><% @merchant.invoices.distinct.each do |i| %>
      <p>Invoice # <%= link_to i.id, "/merchants/#{@merchant.id}/invoices/#{i.id}" %></p>
    <% end %>
  </ol>
</div>